* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.whole-page {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

section {
    padding: 100px;
}

/* -- Header -- */
.header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #ffffff;
}

/* -- Sidebar -- */
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1f);
    grid-template-rows: repeat(5, 1f);
    background-color: #1992d4;
    color: white;
}

.sidebar-top {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(5, 1f);
    grid-template-rows:  repeat(1, 1f);
    align-items: center;
}

.sidebar-top .icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
}

.sidebar-top .title {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-size: 24px;
    margin-left: 10px;
}

.sidebar-middle {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1f);
    grid-template-rows:  repeat(6, 1f);
    align-items: center;
}

.sidebar-middle .icon-home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-home {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-middle .icon-profile {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-profile {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-middle .icon-messages {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-messages {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-middle .icon-history {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-history {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-middle .icon-task {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-task {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-middle .icon-communities {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.sidebar-middle .title-communities {
    grid-column: 2 / 6;
    grid-row: 6 / 7;
    font-size: 18px;
    margin-left: 12px;
}

.sidebar-bottom {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.blank-space {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}

/* -- Main Content -- */
.main-content {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: #e2e8f0;
}